@using MsgextActionSrchData.Model;
@using MsgextActionSrchData.Controllers;
@using Microsoft.AspNetCore.Components;

@inject ProductController ProductsService

@page "/InitialAction"
<div>
  <FluentListbox TOption="Product"
                  Label="Select a product"
                  Items=@products
                  Id="products-listbox"
                  Height="200px"
                  Width="70%"
                  OptionValue="@(i => i.Id)"
                  OptionText="@(i => i.Id + " " + i.Name)"
                  @bind-Value="@SelectedValue"
                  @bind-SelectedOption="@SelectedItem" />
    
    <FluentRadioGroup Required="true" @bind-Value="dataSrc" Name="DataSrc" Orientation="Orientation.Horizontal">
        <FluentRadio Value="@("all")">All</FluentRadio>
        <FluentRadio Value="@("orderable")">Orderable</FluentRadio>
        <FluentRadio Value="@("nonorderable")">Non orderable</FluentRadio>
    </FluentRadioGroup>
    <p>
        Selected Data Source: @dataSrc <br />
    </p>
</div>

@code {
    Product? SelectedItem;
    string? SelectedValue;
    string dataSrc;
    bool firstRender = true;

    public List<Product> products;

    protected override Task OnInitializedAsync()
    {
        products = ProductsService.GetAllProducts();
        return base.OnInitializedAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }
    public async Task ReloadData(EventArgs e)
    {
        switch (e.ToString())
        {
            default:
                products = ProductsService.GetOrderableProducts();
                break;
        }

        await Task.CompletedTask;
    }
}
