@using MsgextActionSrchData.Model;
@using MsgextActionSrchData.Controllers;

@inject ProductController ProductsService

@page "/InitialAction"
<div>
  <FluentListbox TOption="Product"
                  Label="Select a product"
                  Items=@products
                  Id="products-listbox"
                  Height="200px"
                  Width="70%"
                  OptionValue="@(i => i.Id)"
                  OptionText="@(i => i.Id + " " + i.Name)"
                  @bind-Value="@SelectedValue"
                  @bind-SelectedOption="@SelectedItem" />

  <p>
      Selected value: @SelectedValue. <br />
      Selected item: @SelectedItem?.ToString()
  </p>

</div>

@code {
    Product? SelectedItem;
    string? SelectedValue;

    public List<Product> products;
    protected override Task OnInitializedAsync()
    {
        products = ProductsService.GetAllProducts();
        return base.OnInitializedAsync();
    }
}
